.cellContainerDead {
  display: flex;
  padding: 3px;
  margin: 1px;
  border: 1px solid black;
}

.cellContainerLive {
  display: flex;
  padding: 3px;
  margin: 1px;
  border: 1px solid black;
  background-color: black;
}
